# copy this file as "fig.yml" and modify it's contents to your needs

web:
    build: host/
    ports:
        - "8080:80"
    environment:
        # Jar filename from artifacts directory
        JAR_NAME: repovisualizer-0.0.1.jar
        # Port defined above
        EXTERNAL_PORT: 8080
        # Address from where everything is available. When using boot2docker then find the ip with command "boot2docker ip"
        EXTERNAL_ADDRESS: 192.168.59.103
    volumes:
        # rsa files and known hosts are copied from this location.
        - ~/.ssh:/ssh
        # from this location the webapp .jar file is looked for
        - ./target:/artifacts
        # Committers images
        - ./avatars:/avatars
        # Directory which contains all the repositories we want to publish
        - ../:/reposRoot
        # This directory will contain the video files
        - /private/tmp:/videoResults
