# copy this file as "fig.yml" and modify it's contents to your needs

web:
    build: host/
    ports:
        - "8080:80"
    environment:
        # Jar filename from artifacts directory
        JAR_NAME: repovisualizer-0.0.1.jar
    volumes:
        # rsa files and known hosts are copied from this location.
        - ~/.ssh:/ssh
        # from this location the webapp .jar file is looked for
        - ./artifact:/artifacts
        # Committers images
        - ./avatars:/avatars
        # Directory which contains all the repositories we want to publish
        - ../:/reposRoot
        # This directory will contain the video files
        - /private/tmp:/videoResults
