<div class="repo-view">
    <h2>Visualization of <b>{{repoName}}</b></h2>

    <section class="repo-video">
        <div class="video-message" ng-show="flags.videoNotFound && !flags.generationInProgress">
            <i class="fa fa-question video-status"></i>

            We couldn't find a video for the <b>{{repoName}}</b><br><br> <i class="fa fa-arrow-circle-down"></i> <b>Generate a new one</b>
        </div>
        <div class="video-message" ng-show="flags.generationInProgress">
            <i class="fa fa-cog fa-spin video-status"></i>

            <b>Generating a video</b>
        </div>

        <div class="video-container" ng-hide="flags.generationInProgress || flags.videoNotFound">
            <repo-video source-url="videoUrl"></repo-video>
        </div>
    </section>

    <button class="btn btn--m btn--blue btn--raised" lx-ripple ng-click="openDialog('generate')"
            ng-disabled="flags.generationInProgress || flags.someGenerationInProgress">
        <span ng-show="flags.someGenerationInProgress && !flags.generationInProgress">Another video is being processed</span>
        <span ng-show="!flags.someGenerationInProgress && !flags.generationInProgress">Generate new</span>
        <span ng-show="!flags.someGenerationInProgress && flags.generationInProgress">Please wait</span>
    </button>

    <lx-dialog id="generate" class="dialog dialog--alert">
        <div class="dialog__header">
            <div class="toolbar">
                <span class="toolbar__label tc-white fs-title">
                    Visualize your Repository
                </span>
            </div>
        </div>

        <div class="dialog__content">
            <div class="p">
                <lx-date-picker model="datepicker.startDate" label="Pick a starting date"></lx-date-picker>
                <lx-date-picker model="datepicker.endDate" label="Pick a ending date"></lx-date-picker>
            </div>
        </div>

        <div class="dialog__actions">
            <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
            <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close ng-click="generateNewVideo()">Generate</button>
        </div>
    </lx-dialog>
</div>