<div class="repo-view">
    <h2>Visualization of <b>{{repoName}}</b></h2>

    <section class="repo-video">
        <div class="video-message" ng-show="flags.videoNotFound && !flags.generationInProgress">
            <i class="fa fa-question video-status"></i>

            We couldn't find a video for the <b>{{repoName}}</b><br><br> <i class="fa fa-arrow-circle-down"></i> <b>Generate a new one</b>
        </div>
        <div class="video-message" ng-show="flags.generationInProgress">
            <i class="fa fa-cog fa-spin video-status"></i>

            <b>Generating a video</b>
        </div>

        <div class="video-container" ng-hide="flags.generationInProgress || flags.videoNotFound">
            <repo-video source-url="videoUrl"></repo-video>
        </div>
    </section>

    <button class="btn btn--m btn--blue btn--raised" lx-ripple ng-click="generateNewVideo()"
            ng-disabled="flags.generationInProgress || flags.someGenerationInProgress">
        <span ng-show="flags.someGenerationInProgress && !flags.generationInProgress">Another video is being processed</span>
        <span ng-show="!flags.someGenerationInProgress && !flags.generationInProgress">Generate new</span>
        <span ng-show="!flags.someGenerationInProgress && flags.generationInProgress">Please wait</span>
    </button>

    <button class="btn btn--m btn--red btn--raised" lx-ripple ng-click="cancelGeneration()" ng-if="flags.generationInProgress">
        Cancel
    </button>
</div>