html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: $dark-blue;
  font-family: $helvetica;
}

* {
  outline: none;
}

.logo {
  z-index: 2;

  position: fixed;
  right: 15px;
  bottom: 5px;
  margin: 0;
  color: darken($dark-blue, 10%);
  font-size: 20px;
  font-weight: 500;
}

.project-link {
  z-index: 2;

  position: fixed;
  bottom: 5px;
  left: 260px;
  color: darken($dark-blue, 10%);
  font-size: 14px;
  font-weight: 500;

  &:hover {
    color: lighten($dark-blue, 30%);;
  }
}
